/* Général*/
body {
  font-family: sans-serif;
  margin: 0;
  background-color: aquamarine;
}

/******************** Body *****************************/

/* Header */

header nav {
  position: absolute;
  top: 0;
  background-color: #303030;
  width: 550px;
  height: 80px;
  left: 50%;
  transform: translate(-50%);
  border-radius: 0 0 25px 25px;
  box-shadow: 2px 2px 2px black;
}

header nav ul {
  position: relative;
  display: flex;
  justify-content: center;
  list-style-type: none;
  padding: 0;
  margin: 0;
  padding-top: 13px;

}

header nav ul li {
  margin: 0 20px 0 20px;
  text-align: center;
  position: relative;
}

header nav ul li span.tooltip_text {
  position: absolute;
  visibility: hidden;
  width: 135px;
  background-color: #303030;
  color: white;
  text-align: center;
  border-radius: 0 0 10px 10px;
  padding: 5px 0;
  top: 67px;
  left: 50%;
  transform: translate(-50%);
  box-shadow: 2px 2px 2px black;
}

header nav ul li:hover span.tooltip_text {
  visibility: visible;
  font-weight: bold;
}

header nav ul li a i.material-symbols-outlined {
  font-size: 40px;
  color: white;
  background-color: #0059FF;
  padding: 5px 15px 5px 15px;
  border-radius: 10px;
  border: 2px solid white;
  transition: transform 0.5s ease;
  box-shadow: 2px 2px 2px black;
}

header nav ul li a i.material-symbols-outlined:hover {
  transform: scale(1.05);
}

header nav ul li.active a i.material-symbols-outlined {
  background-color: #FF8C00;
}

header div {
  position: absolute;
  top: 15px;
  left: 75%;
  display: flex;
  align-items: center;
}

header div img {
  width: 60px;
  position: absolute;
  left: -20px;
}

header div span {
  color: white;
  padding: 10px 25px 10px 55px;
  background-color: #303030;
  border-radius: 10px;
  border: 2px solid white;
  width: 75px;
  font-weight: bold;
  font-size: 18px;
}
