html{
  /* Couleur header*/
--header-background-color:  #303030;
}

/*Header Teacher */
.active{
    color: #FF8C00;
    text-decoration: underline;
  }
  
  
header{
    padding: 0.8em;
    margin-bottom: 3em;
    z-index: 1;
    top: 0;
    position: sticky;
    height: 25px;
    width: 50%;
    background-color: var(--header-background-color);
    border-radius: 0 0 25px 25px;
    box-shadow: 2px 2px 2px black;
    border-top: none;
   }
  
  
   header li{
     text-align: center;
     flex-basis: 25%;
   }
   
   header a{
     color: rgb(255, 255, 255);
     font-weight: bold;
     font-size: 1.2em;
     transition: all 0.5s;
     text-decoration: none;
   }
   
   header a:hover{
     transition: all 0.5s;
     text-decoration: underline;
   }  