/* Variables du design */
html {
  /* Largeur du menu */
  --menu-width: 10em;
  /* Hauteur du header */
  --header-height: 3em;
  /* Couleur principale du thÃ¨me */
  --main-color: #ff7b00;
  /* Couleur principale du fond */
  --main-background-color: rgba(56, 62, 66, 0.8);
  /* Couleur header*/
  --header-background-color: #303030;
  /* Couleur du fond en cas de message */
  --message-background-color: #8f8f8f;
  /*Couleur bouton négatif*/
  --color-negativ: rgb(216, 13, 13);
  --color-blue-button: #0059FF;
  /* Choix de la font */
  font-family: sans-serif;
}
@font-face {
  font-family: 'OpenDyslexic';
  src: url('../assets/OpenDyslexic/opendyslexic-regular-webfont.eot');
  src: url('../assets/OpenDyslexic/opendyslexic-regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('../assets/OpenDyslexic/opendyslexic-regular-webfont.woff') format('woff'),
  url('../assets/OpenDyslexic/opendyslexic-regular-webfont.ttf') format('truetype'),
  url('../assets/OpenDyslexic/opendyslexic-regular-webfont.svg#opendyslexicregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* Général*/

a{
  color: var(--main-color);
}

p{
  text-align: center;
}

select{
  margin-bottom: 1em;
}

ul{
  padding: 0;
  margin: 0;
  list-style: none;
}
.ul_horizontal{
  display: flex;
  padding: 0;
}
/******************** Body *****************************/

/*header */
header , #logo{
  z-index: 1;
}


body {
  background-image: url(../assets/background.png);
  color: rgb(255, 255, 255);
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100%;
  font-size: larger;
}
/*logo*/
#logo{
  width: 200px;
  position: fixed;
  top: -31px;
  left: 62px;
}



/* Main */
main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  border: solid 2px white;
  border-radius: 15px;
  background-color: var(--main-background-color);
  padding: 15px;
  padding-bottom: 50px ;
}

/*Header Teacher */
.header_teacher .active{
  color: #FF8C00;
}
.header_teacher {
  padding: 0.8em;
  margin-bottom: 3em;
  z-index: 1;
  top: 0;
  position: sticky;
  height: 25px;
  width: 50%;
  background-color: var(--header-background-color);
  border-radius: 0 0 25px 25px;
  box-shadow: 2px 2px 2px black;
  border-top: none;
}
.header_teacher li{
  text-align: center;
  flex-basis: 25%;
}
.header_teacher a{
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-size: 1.2em;
  text-decoration: none;
}
.header_teacher a:hover{
  transition: color 0.5s ease;
  color: var(--color-blue-button);
}

/* Header student */
.dyslexic-font {
  font-family: 'OpenDyslexic', sans-serif;
}
header#student_header {
  top: 0px;
  position: sticky;
  margin-bottom: 100px;
  display: flex;
  justify-content: space-between;
}
header#student_header nav {
  position: absolute;
  top: 0;
  background-color: var(--header-background-color);
  width: 775px;
  height: 80px;
  left: 50%;
  transform: translate(-50%);
  border-radius: 0 0 25px 25px;
  box-shadow: 2px 2px 2px black;
}
header#student_header nav ul {
  position: relative;
  display: flex;
  justify-content: center;
  list-style-type: none;
  padding: 0;
  margin: 0;
  padding-top: 13px;
}
header#student_header nav ul li {
  margin: 0 20px 0 20px;
  text-align: center;
  position: relative;
}
header#student_header nav ul li span.tooltip_text {
  position: absolute;
  visibility: hidden;
  width: 150px;
  background-color: var(--header-background-color);
  color: white;
  text-align: center;
  border-radius: 0 0 10px 10px;
  padding: 5px 0;
  top: 67px;
  left: 50%;
  transform: translate(-50%);
  box-shadow: 2px 2px 2px black;
}
header#student_header nav ul li:hover span.tooltip_text {
  visibility: visible;
  font-weight: bold;
}
header#student_header nav ul li a i.material-symbols-outlined {
  font-size: 40px;
  color: white;
  background-color: #0059FF;
  padding: 5px 15px 5px 15px;
  border-radius: 10px;
  border: 2px solid white;
  transition: transform 0.5s ease;
  box-shadow: 2px 2px 2px black;
}
header#student_header nav ul li a i.material-symbols-outlined:hover {
  transform: scale(1.05);
}
header#student_header nav ul li.active a i.material-symbols-outlined {
  background-color: #FF8C00;
}
header#student_header div#number_chronocoin, #dyslexie-div {
  position: relative;
  top: 15px;
  left: 240%;
  display: flex;
  align-items: center;
}
header#student_header div#number_chronocoin img {
  width: 60px;
  position: absolute;
  left: -20px;
}
header#student_header div#number_chronocoin span, #fontToggleBtn {
  color: white;
  background-color: var(--header-background-color);
  border-radius: 10px;
  border: 2px solid white;
  width: 75px;
  font-weight: bold;
  font-size: 18px;
}
header#student_header div#number_chronocoin span {
  padding: 12px 25px 12px 55px;
}
#dyslexie-div {
  position: relative;
  left: 240%;
  width: 50px;
  top: 15px;
  margin-left: 25px;
}
#fontToggleBtn {
  position: absolute;
  cursor: pointer;
  width: 140px;
  padding: 12.5px;
  transition: transform 0.5s ease;
}
#fontToggleBtn:hover {
  transform: scale(1.05);
}
.dyslexic-font #fontToggleBtn {
  background-color: #FF8C00;
}

/* Header unknow */
.connectionpage h1 {
  font-size: 1.5em;
  margin: 0;
}
.connectionpage {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: baseline;
  padding: 10px;
  border-radius: 0 0 25px 25px;
  box-shadow: 2px 2px 2px black;
  top: 0;
  position: sticky;
  width: 50%;
  z-index: 1;
  background-color: var(--header-background-color);
  margin-bottom: 20px;
}
.connectionpage a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 1.2em;
}
.connectionpage .active {
  text-decoration: underline;
  color: #FF8C00;
}
.connectionpage a:hover {
  text-decoration: underline;
}

/* Connection page */
.connection form {
  display: flex;
  flex-direction: column;
  width: 350px;
}
.connection form p {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
}
.connection input {
  width: 200px;
}
.connection #togglePassword {
  position: absolute;
  right: 0;
  top: 13px;
  border: none;
  background-color: transparent;
}
.connection a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-weight: bold;
}
.connection a:hover {
  text-decoration: underline;
}

.connection .error {
  font-size: 0.8em;
  color: var(--color-negativ);
}

/* Landing Page */
.landingpage {
  display: flex;
  flex-direction: column;
}
.landingpage h2 {
  font-size: 2.5em;
  background: #F5A925FF;
  background-clip: text;
  color: transparent;
  text-align: center;
  width: 70%;
}
.landingpage .button {
  border: 0;
  background: transparent;
  color: white;
  font-weight: bold;
  position: relative;
  overflow: hidden;
  padding: 10px 20px;
  border-radius: 30px;
  cursor: pointer;
  font-size: 1.5em;
  box-shadow: 0px -0px 0px 0px rgba(248, 64, 64, 0.5), 0px 0px 0px 0px rgba(255, 143, 39, 0.5);
  transition: all .2s;
  margin-bottom: 20px;
  text-decoration: none;
  z-index: 1;
}
.landingpage .button::after {
  content: "";
  width: 700px;
  height: 700px;
  background: linear-gradient(225deg, #f52528 0%, #f57525 50%, #f5a925 100%);
  position: absolute;
  top: -100px;
  left: -125px;
  transition: all .5s;
  z-index: -1;
}
.landingpage .button:hover::after {
  transform: rotate(150deg);
}
.landingpage .button:hover {
  transition: translate(0, -6px);
  box-shadow: 20px -20px 25px 0 rgba(248, 64, 64, .25), -20px 20px 25px 0 rgba(255, 143, 39, .25);
  transform: scale(1.09);
}

/* Rules page */
.rulespage {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: white;
  background-color: var(--main-background-color);
  padding: 20px;
  border-radius: 15px;
  border: white 2px solid;
}
.rulespage h2 {
  margin: 5px;
  font-weight: bold;
  font-size: 1.5em;
  color: #ff7b00;
}
.rulespage p, .rulespage ul, .rulespage li {
  margin: 5px;
  text-align: justify;
}

/* Confidentiality page */
.confidpage {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: white;
  background-color: var(--main-background-color);
  padding: 20px;
  border-radius: 15px;
  border: white 2px solid;
}
.confidpage h2 {
  margin: 5px;
  font-weight: bold;
  font-size: 1.5em;
  color: #ff7b00;
}
.confidpage p, .confidpage ul, .confidpage li {
  margin: 5px;
  text-align: justify;
  list-style-type: circle;
}



.skin{
  height: 250px;
}

.lobby{
  width: 85%;
  padding: 15px;
}
.lobby>ul{
  justify-content: space-around;
  width: 100%;
}

.bold{
  font-weight: bolder;
}

/** bouton **/
.button-container {
  width: 50%;
  display: flex; /* Utiliser un conteneur flexible */
  justify-content: space-around;
  margin-top: 10px;
}
.button-container button:nth-child(1) {
  background-color: var(--color-negativ);
  transition: all .7s;
  margin: 0px;
}
.button-container button:nth-child(1):hover {
  background-color: rgb(139, 16, 16);
  transition: all .7s;
}
.button-container button:nth-child(2) {
  background-color: rgb(8, 184, 8);
  transition: all .7s;
}
.button-container button:nth-child(2):hover {
  background-color: rgb(10, 114, 10);
  transition: all .7s;
}

.button2, .button-container a{
  border-radius: 15px;
  color: white;
  width: 8em;
  padding: 0.5em;
  border: none;
  transition: all 0.7s;
  cursor: pointer;
  font-weight: bold;
  text-decoration: none;
}

.button2:hover{
  background-color: rgb(199, 113, 1);
  transition: all 0.7s;

}

/*Bouton professeur */
.button-teacher{
  background-color: #ffffff;
  border: 1px solid rgb(0, 0, 0);
  cursor: pointer;
  border-radius: 15px;
  padding: 0.4em;
  transition: all 0.3s;
  color: #000000;
  font-weight: bold;
}

.button-teacher:hover{
  transition: all 0.3s;
  background-color: #dcdcdc;
}

.button-teacher-neg{
  background-color: #e83030;
  border: 1px solid rgb(0, 0, 0);
  cursor: pointer;
  border-radius: 15px;
  padding: 0.4em;
  transition: all 0.3s;
  color: #ffffff;
  font-weight: bold;
  width: fit-content;
}

.button-teacher-neg:hover{
  background-color: #a62525;

}

.button-create{
  background-color: #37b705;
  border-radius: 15px;
  border: 1px solid black;
  font-weight: bold;
  color: white;
  padding: 0.5em;
  transition: all 0.5s;
  width: fit-content;
}

.button-create:hover{
  transition: all 0.5s;
  background-color: #178d1b;
}
/**  home **/
#home{
  width: fit-content;
  padding: 1em;
}
#home section{
  display: flex ;
}
#home p{
  max-width: 79%;
}

.button-home{
  display: inline-block;
  background-color: var(--main-color);
  color: white;
  font-weight: bolder;
  border-radius: 15px;
  transition: all 0.6s;
  padding: 2em;
  cursor: pointer;
  border: 1.5px solid white;
  text-decoration: none;
  text-align: center;
  width: 80%;
  margin: 1em;
}

.button-home:hover{
  transition: all 0.6s;
  box-shadow: 0px 0px 29px 7px var(--main-color);
}

.menu-home li {
  margin: 3em;
}
label{
  margin-bottom: 0.5em;
  margin-top: 0.5em;
}

#gameplay{
  width: 800px;
  height: auto;
}

/** Gestion **/
.gestion{
  display: grid;
  justify-items: center ;
  width: 100%;
}
.gestion input{
  margin: 1em;
}
.gestion>section>h3{
  height: fit-content;
  text-align: center;
  margin-bottom: 0px;
}
.gestion>h4{
  text-align: right;
  margin: 5px;
}
.gestion section{
  display: grid;
  justify-items: center;
  width: 90%;
}

.gestion div {
  margin-top: 0.5em;
}

/** formulaire**/
form .button2 {
  width: 100%;
  background-color: var(--main-color);
}
.formulaire {
  margin: 0 auto;
  padding: 2em;
}
.formulaire form {
  padding: 2px;
}
.formulaire h2 {
  text-align: center;
  margin-bottom: 20px;
}

.formulaire label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

.formulaire input[type="text"],
.formulaire textarea {
  margin: 2px;
  padding: 2px;
  resize: none;
  width: 100%;
  border-radius: 3px;
  border: none;
}

.formulaire textarea {
  height: 100px;
}

.formulaire input[type="submit"] {
  display: block;
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  color: white;
  font-weight: bold;
  border: none;
  cursor: pointer;
  transition: all 0.5s;
}

.formulaire input[type="submit"]:hover {
  background-color: rgb(197, 112, 0);;
  transition: all 0.5s;
}

#classe-select{
  width: 180px;
}
/** Messagerie ***/

.messaging{
  border: 1px solid  black;
  width: 100%;
  background-color: white;
  color: black;
}

.messaging td {
  text-align: center;
  padding: 0.5em;
  border: 1px solid  black;
}
.messaging th{
  border: 2px solid  black;
}
.message td{
  cursor: pointer;
}

/** Message */
.reader{
  border-radius: 15px;
  padding: 1em;
  background-color: white;
  color: black;
}
.reader p:nth-child(2) {
  position: relative;
  top: 0;
  right: 0;
}

/** Tableau */
table {
  border-collapse: collapse;
  width: fit-content;
}

th[scope='col'] {
  background-color: rgb(85, 85, 85);
  color: #ffffff;
}

.tableau{
  width: 100%;
}

.tableau th, .tableau td {
  padding: 8px;
  text-align: center;
  border: 1px solid white;
}


.data tr td:first-child {
  font-weight: bold;
  text-align: right;
}

/* Join party p&ge */
.joinParty {
  width: 400px;
  display: flex;
  flex-direction: column;
}
.joinParty div {
  width: 100%;
}
.joinParty div button {
  width: 30%;
}

/* Checkroom page */
.checkroom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 15px;
}
.checkroom section:first-child {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.checkroom .chooseSkin, .checkroom .buyView {
  width: 50%;
  padding: 15px;
  border: 10px ridge #e49144;
}
.buyView {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.buyView .preview {
  height: 40%;
  width: 40%;
}
.buyView span {
  text-align: center;
}
.buyView span em{
   color: #e5af44;
   font-style: normal;
}
.buyView span img{
  width: 5%;
}
.buyView form {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.buyView form button {
  width: 30%;
  font-size: 1.1em;
  font-weight: bold;
  border-radius: 10%;
  cursor: pointer;
}
.buyView form button[disabled] {
  cursor: not-allowed;
 }
.checkroom .chooseSkin form{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.checkroom .chooseSkin .unlockedSkin, .checkroom .chooseSkin .lockedSkin{
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-content: center;
  border: #303030 double 5px;
  border-radius: 5%;
  margin: 10px;
  z-index: 0;
}
.checkroom .chooseSkin button {
  width: 150px;
  height: 150px;
  border: none;
  padding: 0;
  margin: 0;
  background: none;
  cursor: pointer;
  background-size: cover;
  background-position: center;
}
.checkroom .chooseSkin img {
  max-width: 100%;
  max-height: 100%;
}
.lockedSkin {
  position: relative;
  background-color: #404040;
  z-index: 1;
}
.lockedSkin::before {
  content: 'x';
  position: absolute;
  top: 28%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 275px;
  z-index: 1;
  color: #ff9318;
  opacity: .8;
  filter: grayscale(40%);
  pointer-events: none;
}
.lockedSkin button {
  z-index: 0;
  filter: grayscale(40%);
}
.lockedSkin .price {
  display: flex;
  flex-direction: row;
  position: absolute;
  pointer-events: none;
  justify-content: center;
  align-items: center;
  bottom: 0;
  z-index: 5;
}
.lockedSkin .price span {
  font-weight: bold;
  color: #ff0000;
  font-size: 2em;
  bottom: 0;
  top: 50px;
  z-index: 2;
  pointer-events: none;
}
.lockedSkin .price img {
  width: 25%;
  height: 25%;
}
/* Affichage des skin */
.div_skin {
  position: relative;
  margin-top: 75px;
  height: fit-content;
  width: fit-content;
}


#skin {
  width: 100%;
  height: 100%;
}


#shoes, #border, #shirt, #top, #hair, #pants{
  position: absolute;
}

#shoes{
  top: 82.4%;
  left: 29.8%;
  width: 40%;
  height: 17.6%;
}
#shirt{
  top: 37.6%;
  left: 30%;
  width: 40%;
  height: 40%;
}

#top{
  top: -26.2%;
  left: 24.6%;
  width: 50%;
  height: 50%;
}

#hair{
  top: 0;
  left: 20%;
  width: 60%;
  height: 60%;
}

#pants{
  top: 60.4%;
  left: 29.8%;
  width: 40%;
  height: 40%;
}
/* Profile page */
.profil {
  display: flex;
  flex-direction: column;
  width: 80%;
}
.profil>div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.profil .dashboard {
  border: 10px ridge #e49144;
  margin: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25%;
}
.profil .statistics {
  flex: 1;
  margin: 10px;
  padding: 10px;
  width: 100%;
}

.profil .switch-buttons {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 20px;
  width: 40%;
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
}
.profil .statistics-button, .profil .class-button {
  padding: 10px;
  width: 30%;
  font-size: 1.4em;
  color: white;
  font-weight: bold;
  border-radius: 10px;
  border: 2px solid white;
  background-color: #0059FF;
  transition: background-color 0.3s ease, transform 0.5s ease;
  min-width: 135px;
}
.profil .statistics-button:hover, .profil .class-button:hover {
  transform: scale(1.05);
}
.profil .active {
  background-color: #ff7b00;
  text-decoration: none;
}
.profil .class-info table {
  border: 1px solid white;
  padding: 8px;
  text-align: center;
}
.profil .class-info td, .profil .class-info th {
  border: 1px solid white;
  padding: 8px;
  text-align: center;
  border-collapse: collapse;
}
/* Stat for teacher */
.teacherStat .game {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 90%;
}
.teacherStat #chartDiv {
  width: 90%;
}
/* Footer */
footer {
  background-color: var(--header-background-color);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
  margin: auto;
  clip-path: polygon(8% 0, 92% 0, 100% 100%, 0% 100%);
  bottom: 0;
  margin-top: 2em;
  position: relative;
}
footer a {
  color: white;
  text-decoration: none;
  font-style: italic;
}
footer a:hover {
  text-decoration: underline;
}
footer nav {
  width: 60%;
}
footer nav ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
}
footer p, footer ul {
  margin: 8px 0px 8px 0px;
}

/* HOME */

aside#home_button {
  text-align: center;
}

aside#home_button ul {
  padding: 0;
}

aside#home_button ul li {
  margin-top: 50px;
}

aside#home_button ul li a {
  padding: 5px 15px 5px 15px;
  text-align: center;
  color: white;
  text-decoration: none;
  background-color: var(--main-background-color);
  border-radius: 10px;
}


/* HOME */

aside#home_button {
  text-align: center;
}

aside#home_button ul {
  padding: 0;
}

aside#home_button ul li {
  margin-top: 50px;
}

aside#home_button ul li a {
  padding: 5px 15px 5px 15px;
  text-align: center;
  color: white;
  text-decoration: none;
  background-color: var(--main-background-color);
  border-radius: 10px;
}

#signal{
  font-weight: bold;
  color: red;
}
#ok{
  font-weight: bold;
  color: #00d20b;
}
/*action page*/
.action-page{
  position: relative;
}
/** div container*/
.container{
  display: flex;
  justify-content: left;
  align-items: center;
  width: 100%;
}

.container>*{
  margin: 1em;
}

.container-titre{
  max-width: 800px;
  text-align: center;
}

main {
  position: relative;
}

.container-titre a{
  position: absolute;
  top: 40px;
  left: 23px;
}

.container-titre h2{
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}

/** Bouton retour**/
#student_header .material-symbols-outlined{
  font-size: 40px;
  color: white;
  background-color: #0059FF;
  padding: 5px 15px 5px 15px;
  border-radius: 10px;
  border: 2px solid white;
  transition: transform 0.5s ease;
  box-shadow: 2px 2px 2px black;
}

i.material-symbols-outlined:hover {
  transform: scale(1.05);
}

