<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <title>Your Website Title</title>
</head>

<body>
    <footer>
        <div class="footer">
            <div class="row">
                <a href="#"><img src="../view/img/logo.png" alt="ChronoTravel Logo" class="failory-logo-image"></a>
            </div>

            <div class="row">
                <ul class="footer-links">
                    <li><a href="../controler/home.ctrl.php" class="footer-link">Home</a></li>
                    <li><a href="../controler/profile.ctrl.php" class="footer-link">Profile</a></li>
                    <li><a href="../controler/checkroom.ctrl.php" class="footer-link">Checkroom</a></li>
                    <li><a href="../controler/rules.ctrl.php" class="footer-link">Description</a></li>
                    <li><a href="../controler/contact.ctrl.php" class="footer-link">Contact</a></li>
                    <li><a href="../logout.php" class="footer-link">Déconnexion</a></li>
                </ul>
            </div>

            <div class="row">
                <p>&copy; 2024 Scooby Gang. Tous droits réservés.</p>
                <p><a href="/legal-mention">Mentions légales</a> - Site réalisé par Scooby Gang</p>
            </div>
        </div>
    </footer>
</body>

</html>

    





