<footer>
    <p>Email: <a href="mailto:contact@chronotravel.com">contact@chronotravel.com</a></p>
    <nav>
        <ul>
            <li><a href="/a-propos">À propos</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="../controler/politique-confidentialite.ctrl.php">Politique de confidentialité</a></li>
            <li><a href="/conditions-utilisation">Conditions d'utilisation</a></li>
            <li><a href="/plan-du-site">Plan du site</a></li>
        </ul>
    </nav>
    <p>&copy; 2024 Scooby Gang. Tous droits réservés.</p>
    <p><a href="/legal-mention">Mentions légales</a> - Site réalisé par Scooby Gang</p>
</footer>
